/* BASE STYLES */
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    /* height: 100%; */
    /* background-color: lightyellow; */
    background-color: greenyellow;
}
main {
    background-color: lightyellow;
}
.main-container,
footer {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 0 2rem; //instead of this you can adjust the width to use 90% of the space available */ 
    font-family: 'Roboto', sans-serif;  
}
.main-container {
    
    padding-bottom: 50px;
    /* height: 85%; */
}

footer {
    /* height: 15%; */
}

/* HEADER SECTION*/
header img {
    width: 10rem;
    /* height: 5rem; */
    /* object-fit: cover; */
}

/* CTA SECTION */
.cta {
    display: flex;
    position: relative;
    /* background-image: url('/images/bg-image/scooter.svg');
    background-repeat: no-repeat;
    background-position-x: center; */
    
}
.cta img {
    position: absolute;
    left: 20%;
    max-width: 500px;
}
.cta-form,
.cta-text {
    z-index: 10;
}



.cta-text {
    max-width: 25rem;
}

.cta-text h1 {
    font-size: 4rem;
    margin: 1rem 0;
}

.cta-form {
    background-color: white;
    padding: 1.5rem;
    margin-left: auto;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px #aaaaaa;
    height: fit-content;
    min-width: 23rem;
}

.cta-form h2 {
    font-size: 2rem;
    margin: 0 auto;
}
p {
    margin: 0 auto;
}

.cta-form input,
footer input {
    border-radius: .3rem;
    padding: .5rem;
    margin: .2rem .2rem .2rem 0;
    border: none;
    background-color: lightcyan;
    width: 100%;
}

button {
    background-color: lightgreen;
    border: none;
    border-radius: .5rem;
    width: 100%;
    height: 2rem;

    font-size: x-large;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Bangers', cursive;
    color: goldenrod;
}

#terms {
    width: auto;
}

.small-txt {
    font-size: small;
}

.xsmall-txt {
    font-size: x-small;
}

/* FOOTER SECTION */
footer {
    
    display: flex;
    height: 100%;
    margin-top: 20px;
}

footer form {
    display: flex;
}

footer h5 {
    margin: .5rem 0;
}

footer form button {
    margin: .2rem;
    /* height: auto; */
}

#inputHoursXweek {
    width: 100px;
}

#ctaWeekHourCount {
    align-self: center;
}

footer .social {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social i {
    margin:0 .5rem;
}

/* TABLET VIEW */
@media screen and (max-width: 800px ) {
    .cta {
        /* display: flex; */
        flex-direction: column;
    }

    .cta img {
        position: relative;
        left: 0%;
        max-width: 400px;
        margin: 2rem auto;
    }
    
    header,
    .cta-text, 
    .cta-form {
        margin: 0 auto;
        text-align: center;
    }

    footer {
        flex-direction: column;
    }

    footer .social {
        justify-content: center;
        margin: 20px 0;
    }

    .social i {
        margin:0 1rem;
        font-size: x-large;
    }

    #inputCity {
        max-width: 200px;
    }
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
    #ctaWeekHourCount form{
        flex-wrap: wrap;
        justify-content: center;

    }
    #ctaWeekHourCount {
        text-align: center;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }

    #ctaWeekHourCount button {
        max-width: 300px;
    }

    .social i {
        margin:0 .5rem;
        font-size: large;
    }
    /* #inputCity {
        
    } */
}
































/* 
* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    width: 100%;
    height: 100%;
    
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header,
section,
footer {
    padding: 25px;
    margin: 5px;
    background-color: #eaeaea;
} */
